/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
  }
  

$cols: 12;

// padding positions
$positions: "" "", "t" "-top", "r" "-right", "b" "-bottom", "l" "-left";

// padding values
$padding: "1" .25rem, "2" .5rem, "3" 1rem, "4" 1.5rem, "5" 3rem;

// spacings for flex containers
$spacing: "center" "center", "evenly" "space-evenly", "around" "space-around", "between" "space-between", "end" "flex-end";



.container {
	max-width: 1310px;
	margin: 0 auto;
}

.container-full {
	width: 100%;
}

.row {
	display: flex;;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.row > * {
	padding-left: 12px;
	padding-right: 12px;
}

.d-flex {
	display: flex;
}

.d-flex-col {
	display: flex;
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.no-wrap {
	flex-wrap: none;
}

.d-none {
	display: none;
}

.d-rel {
	display: relative;
}

.d-absolute {
	display: absolute;
}

.d-block {
	display: block;
}

.text-center {
	text-align: center;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}
  

@for $i from 1 through $cols {
	$p: percentage($i / $cols);

	.col-#{$i} {
		width: $p;
		flex-basis: $p;
	}
}

@each $posname, $pos in $positions {
	@each $name, $size in $padding {
		.p#{$posname}-#{$name} {
			padding#{$pos}: $size;
		}
	}
}


@each $name, $attr in $spacing {
	.justify-#{$name} {
		justify-content: #{$attr};
	}
	.align-#{$name} {
		align-items: #{$attr};
	}

	.align-content-#{$name} {
		align-content: #{$attr};
	}
}


// small screen

@media (min-width: 480px) {
	@for $i from 1 through $cols {
		$p: percentage($i / $cols);

		.col-s-#{$i} {
			width: $p;
			flex-basis: $p;
		}
	}

	@each $posname, $pos in $positions {
		@each $name, $size in $padding {
			.p#{$posname}-s-#{$name} {
				padding#{$pos}: $size;
			}
		}
	}

	@each $name, $attr in $spacing {
		.justify-#{$name}-s {
			justify-content: #{$attr};
		}
		.align-#{$name}-s {
			align-items: #{$attr};
		}
	
		.align-content-#{$name}-s {
			align-content: #{$attr};
		}
	}

	.d-flex-s {
		display: flex;
	}

	.d-flex-col-s {
		display: flex;
		flex-direction: column;
	}

	.d-none-s {
		display: none;
	}


}



// Medium screen

@media (min-width: 720px) {
	@for $i from 1 through $cols {
		$p: percentage($i / $cols);

		.col-m-#{$i} {
			width: $p;
			flex-basis: $p;
		}
	}

	@each $posname, $pos in $positions {
		@each $name, $size in $padding {
			.p#{$posname}-m-#{$name} {
				padding#{$pos}: $size;
			}
		}
	}

	@each $name, $attr in $spacing {
		.justify-#{$name}-m {
			justify-content: #{$attr};
		}
		.align-#{$name}-m {
			align-items: #{$attr};
		}
	
		.align-content-#{$name}-m {
			align-content: #{$attr};
		}
	}

	.d-flex-m {
		display: flex;
	}

	.d-flex-col-m {
		display: flex;
		flex-direction: column;
	}

	.d-none-m {
		display: none;
	}
}

// large screen

@media (min-width: 990px) {
	@for $i from 1 through $cols {
		$p: percentage($i / $cols);

		.col-l-#{$i} {
			width: $p;
			flex-basis: $p;
		}
	}

	@each $posname, $pos in $positions {
		@each $name, $size in $padding {
			.p#{$posname}-l-#{$name} {
				padding#{$pos}: $size;
			}
		}
	}

	@each $name, $attr in $spacing {
		.justify-#{$name}-l {
			justify-content: #{$attr};
		}
		.align-#{$name}-l {
			align-items: #{$attr};
		}
	
		.align-content-#{$name}-l {
			align-content: #{$attr};
		}
	}

	.d-flex-l {
		display: flex;
	}

	.d-flex-col-l {
		display: flex;
		flex-direction: column;
	}

	.d-none-l {
		display: none;
	}

}

